<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <div class="container">
    <div class="title_container">
      <h1>Heatmap Beacon Tracking Application</h1>
    </div>
    <div class="map_container">
      <div id="map" style="height: 600px; border: 1px solid #AAA;"></div>
    </div>
    <div class="form_container">
      <div class="input_box">
        <span class="error error-from">Data Obrigatoria</span>
        <input id="timeFrom" class="input" placeholer="Data de Inicio" type="datetime-local"/>
        <span class="input_label">Data inicio</span>
      </div>
      <div class="input_box">
        <span class="error error-until">Data Obrigatoria</span>
        <input id="timeUntil" class="input" placeholer="Data de Inicio" type="datetime-local"/>
        <span class="input_label">Data fim</span>
      </div>
      <div class="input_box">
          <input id="send" class="button" value="Buscar posições" type="submit"/>
      </div>
    </div>
    <div class="search">
      Buscando Dados...
    </div>
  <% include partials/script %>
</body>
</html>